* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-image: url(background_image.jpg);
  /* background-size:auto; */
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Sigmar One", cursive;
  color: white;
}
h4 {
  color: white;
  font-weight: 100;
  padding-bottom: 5px;
}
form {
  text-align: left;
  padding: 5px 20px 10px 20px;
  width: 330px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.input-area {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.div-check {
  margin-bottom: 10px;
  font-size: 14px;
}
.div-radio {
  margin-bottom: 10px;
  font-size: 14px;
}
.div-button {
  /* margin-left: 80px; */
  text-align: center;
}
.button {
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}
textarea {
  margin-top: 10px;
  padding-top: 5px;
}
::placeholder {
  padding-left: 10px;
  font-size: 10;
}
.global-label {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.radio {
  accent-color: rgb(38, 117, 213);
  cursor: pointer;
}
.check {
  accent-color: rgb(38, 117, 213);
  cursor: pointer;
}
.inlabel {
  cursor: pointer;
}
